@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 text-slate-900 antialiased;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}

.modal-backdrop {
  @apply fixed inset-0 bg-black/50 flex items-center justify-center z-50;
}
